@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
/*font-family: 'Darumadrop One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Roboto Mono', monospace;*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
/*font-family: Montserrat,sans-serif;*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat,sans-serif;
}

header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-start {
    display: flex;
    align-items: center;
    justify-content: start;
}

.center-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

.start-center {
    display: flex;
    align-items: start;
    justify-content: center;
}

.start-around {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.padding {
    padding: 4rem;
}

.margin {
    margin: 6rem;
}

.pdd-top {
    padding-top: 2rem;
}

.pdd-bottom {
    padding-bottom: 1.5rem;
}

.pdd-right {
    padding-right: 1rem;
}

.bg-gray {
    background-color: rgb(255, 255, 255);
}

.bg-grad-01 {
    background-image: linear-gradient(to right, #01b1af, #00c6ac);
}

.bg-grad-02 {
    background-color: #333333;
}

.bg-cut-grad-01 {
    position: relative;
    background-image: linear-gradient(to bottom right, #01b1af , #00c6ac 50%, rgb(255, 255, 255) 50%);
    width: 100%;
    height: 4rem;
}

.bg-cut-grad-02 {
    position: relative;
    background-image: linear-gradient(to top left, #00c6ac, #01b1af 50%, rgb(255, 255, 255) 50%);
    width: 100%;
    height: 4rem;
}

.font-theme {
    color: #00cdac;
}

.font-white {
    color: white;
}

.pointer {
    cursor: pointer;
}

.box-shadow {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.bold {
    font-weight: bold;
}

.font-RobotoMono {
    font-family: 'Roboto Mono', monospace;
}

#logo {
    padding: 30px;
}

#front-page {
    height: 100vh;
}

#front-page-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 2.5rem;
}

#ancor-border {
    color: #00cdac;
    border: 3px solid #00cdac;
    padding: 0.4rem 1.3rem 0.4rem 1.3rem;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

#ancor-border:hover {
    color: white;
    background-color: #00cdac;
}

#ancor-border-2 {
    color: white;
    border: 3px solid white;
    padding: 0.4rem 1.3rem 0.4rem 1.3rem;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
}

#ancor-border-2:hover {
    color: #00cdac;
    background-color: white;
}

#skills-page

#skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8rem;
}

#skill-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

#skill-icon {
    width: 4rem;
    height: 4rem;
    background-size: contain;
    padding: 1rem;
}

#project-page {
    width: 100%;
    height: 100%;
}

#boxed-border {
    color: white;
    border: 3px solid #939d9b;
    padding: 5px;
    background-color: #939d9b;
    border-radius: 2px;
}

#horizontal-space {
    height: 1vh;
}

#about-page {
    padding-bottom: 5rem;
}

#about-box {
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#about-block {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#input {
    border-radius: 1px;
    padding: 8px 12px;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 18px;
    width: 45%;
    font-family: Montserrat,sans-serif;
}

#bottom-nav-page {
    height: 13vw;
}

